<h2>{{ isEditing ? 'Edit' : 'Add' }} Hero</h2>
<mat-card>
  <mat-card-content>
    <div data-layout="column">
      <mat-form-field *ngIf="isEditing" appearance="fill">
        <mat-label>Id</mat-label>
        <input disabled matInput value="{{ hero.id }}" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Hero Name</mat-label>
        <input
          [(ngModel)]="hero.name"
          id="name"
          matInput
          placeholder="Name"
          type="text"
        />
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="save()"
      [disabled]="!isFormValid()"
      color="primary"
      mat-raised-button
    >
      Save
    </button>
    <button (click)="goBack()" mat-raised-button>Go Back</button>
  </mat-card-actions>
</mat-card>
