.add-button {
  position: absolute;
  right: 20px;
  top: 90px;
}

.mat-row:hover {
  cursor: pointer;
  background-color: rgba(123, 31, 162, 0.25);
}

.mat-column-id {
  max-width: 60px;
}

.mat-column-actions {
  max-width: 100px;
}
